/**primero VARIABLES mixins**/
/**segundo el reset y tipografias**/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**tercero LAYOUT**/
body {
  background-color: black;
}

header {
  justify-content: flex-end;
}
header .subs {
  display: flex;
  justify-content: right;
  margin-right: 2rem;
  margin-top: 2rem;
}
header .subs a {
  text-decoration: none;
  color: #d9d9d9;
  font-family: "Exo 2", sans-serif;
}
header .subs a:hover {
  color: #DA5F26;
  font-weight: 900;
  font-style: italic;
}
header .logoRogan img {
  display: block;
  margin: 0 auto;
  width: 18%;
  margin-top: 2rem;
}
header .logoRogan img:hover {
  transform: rotate(-0.5turn);
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 6rem;
  padding: 5rem;
  margin-bottom: 2;
  margin-top: 40px;
  position: sticky;
  top: 0px;
  width: 100%;
  float: inline-start;
}
.navbar li a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
}
.navbar li a:hover {
  color: #DA5F26;
  font-weight: 900;
  font-style: italic;
}

.navbar2 {
  background-color: black;
}
.navbar2 h5 {
  color: #DA5F26;
}

.offcanvas {
  background-color: rgb(26, 25, 25);
}

main section h1 {
  color: #d9d9d9;
  text-align: center;
  font-size: 70px;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 2rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 0.1em 0.1em rgb(48, 47, 47);
}
main .sectionPrincipal {
  width: 100%;
  text-align: center;
  background-image: url(https://images.squarespace-cdn.com/content/v1/587aec812994ca23948fd074/1517528821075-WYUSK6BGMO1LKMGE346T/Joe2.jpg?format=2500w);
  background-size: cover;
  background-position: center;
  opacity: 60%;
  margin-bottom: 2rem;
  border-bottom-style: dotted;
  border-top-style: dotted;
  background-size: 100%, 100%;
  padding-top: 30%;
  padding-bottom: 30%;
}
main .sectionSecundaria {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 40%;
  grid-template-rows: 50% 50%;
  margin-top: 5rem;
}
main .sectionSecundaria .imgA {
  margin-top: 3rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  width: 100%;
  margin-left: 20rem;
}
main .sectionSecundaria h2 {
  grid-column: 1/2;
  color: #DA5F26;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: italic;
}
main .sectionSecundaria p {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #d9d9d9;
  text-indent: 40px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
}
main .sectionTercera .tituloF {
  padding-top: 2rem;
  margin-top: 10rem;
  color: #DA5F26;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: italic;
}
main .sectionTercera .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 120px;
  margin-bottom: 15rem;
}
main .sectionTercera .cards .cardsFav {
  background: rgba(177, 169, 157, 0.1);
  box-shadow: 0 8px 32px 0 rgba(211, 119, 13, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1opx solid rgba(255, 255, 255, 0.18);
}
main .sectionTercera h3 {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-style: inherit;
  text-shadow: #DA5F26 1px 1px;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}

footer .redes div img:hover {
  transform: scale(0.9);
}

main .aboutSection h1 {
  color: #d9d9d9;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: italic;
}
main .sectionAbout {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sectionAbout img {
  display: flex;
  margin-top: 5rem;
  margin-left: 15rem;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2rem;
}
main .sectionAbout .p1, main .sectionAbout .p2 {
  color: #d9d9d9;
  font-family: "Exo 2", sans-serif;
  font-size: 23px;
  text-align: center;
  padding-left: 7rem;
  padding-right: 7rem;
}
main .sectionAbout .p2 {
  align-items: first baseline;
  margin-top: none;
  margin-bottom: 10rem;
}

footer .redesPages img:hover {
  transform: scale(0.9);
}

.mainR h2 {
  margin-bottom: 3rem;
  color: #DA5F26;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.mainR .grids1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 2rem;
  row-gap: 5rem;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.mainR .grids1 h3 {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-style: inherit;
  text-shadow: #DA5F26 1px 1px;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}
.mainR .grids1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 60%;
}
.mainR .grids1 .gridVit {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
}
.mainR .grids1 .gridsHongo {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}
.mainR .grids1 .gridCarne {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
.mainR .grids1 .gridHielo {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}
.mainR .grids1 .GridSauna {
  grid-column: 2/3;
  grid-row: 1/3;
  text-align: center;
}

main .titleFav {
  color: #DA5F26;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: italic;
}
main .sectionFavs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 140px;
  padding-top: 5%;
  margin-bottom: 15rem;
  gap: 64px;
}
main .sectionFavs h3 {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-style: inherit;
  text-shadow: #DA5F26 1px 1px;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}
main .sectionFavs .cards1 {
  background: rgba(177, 169, 157, 0.1);
  box-shadow: 0 8px 32px 0 rgba(211, 119, 13, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
main .sectionFavs .cards1:hover {
  transform: scale(1.2);
  transition: 100ms;
}

main h1, main h2 {
  color: #DA5F26;
  color: #DA5F26;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-style: italic;
}
main h2 {
  margin-bottom: 8rem;
}
main .videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
main .videos div {
  margin-left: 25%;
  margin-bottom: 5rem;
}

main .form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  color: #d9d9d9;
  text-align: center;
  font-size: 25px;
}
main .form input {
  width: 100%;
  text-align: center;
  background: rgba(211, 211, 211, 0.082);
  box-shadow: 0 8px 32px 0 rgba(231, 146, 18, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gif {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  margin-left: 3rem;
}

footer .redes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  padding: 1rem;
  background-color: #DA5F26;
}
footer .redesPages {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  padding: 1rem;
  background-color: #DA5F26;
}

/**componentes**/
button, .buttonSub {
  background-color: black;
  color: #ffffff;
  margin-top: 20rem;
  padding: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 10px;
  width: 12rem;
  height: 3.5rem;
  font-size: 15px;
}

.buttonSub {
  background: rgba(211, 211, 211, 0.082);
  box-shadow: 0 8px 32px 0 rgba(231, 146, 18, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.navbar li:after,
.navbar li:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.navbar li:after {
  bottom: 25%;
  left: 0;
}

.navbar li:before {
  top: 25%;
  right: 0;
}

.navbar :hover::after {
  width: 100%;
  height: 1px;
  bottom: 25%;
  background-color: #d9d9d9;
}

.navbar :hover::before {
  width: 100%;
  height: 1px;
  top: 25%;
  background-color: #d9d9d9;
}

.cards .cardsFav:hover {
  transform: scale(1.2);
  transition: 100ms;
}

.grids1 img:hover {
  transition: 300ms;
  transform: scale(0.9);
}

/**MEDIA QUERY**/
@media (max-width: 700px) {
  header nav .navbar {
    display: none;
  }
}
@media (min-width: 700px) {
  .navbar2 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .navbar {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .logoRogan img {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    width: 25%;
  }
  .navbar li a {
    font-size: 20px;
  }
  .sectionSecundaria .imgA {
    margin-right: 5rem;
  }
  .sectionSecundaria .textA {
    text-align: center;
  }
}
@media (max-width: 768px) {
  main .sectionSecundaria {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 50% 50%;
    margin-top: 5rem;
  }
  main .sectionSecundaria .imgA {
    margin-top: 3rem;
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    width: 100%;
    margin-left: none;
  }
  main .sectionSecundaria .textA {
    grid-column: 2/4;
    grid-row: 2/3;
    color: #d9d9d9;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    margin-top: none;
  }
  main .sectionSecundaria .textA h2 {
    display: none;
  }
  main .sectionTercera .cards .cardsFav {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
  }
  .navbar li a {
    font-size: 16px;
    gap: 1rem;
  }
  .logoRogan img {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    width: 25%;
  }
  button, .buttonSub {
    width: 7rem;
    font-size: 10px;
    height: 2rem;
    padding: 7px;
  }
}
@media (max-width: 768px) {
  main .sectionAbout {
    flex-direction: column;
  }
  main .sectionAbout img {
    width: 40%;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  main .sectionAbout .p1 .p2, main .sectionAbout .p2 .p2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 4rem;
  }
  main .sectionAbout .p1, main .sectionAbout .p2 {
    margin-top: 20%;
    margin-bottom: 10%;
  }
}
@media (max-width: 768px) {
  main .grids1 .gridHongo h3 {
    font-size: 18px;
  }
  main .grids1 .gridSauna h3 {
    font-size: 18px;
  }
  main .grids1 .gridVit h3 {
    font-size: 18px;
  }
  main .grids1 .gridCarne h3 {
    font-size: 18px;
  }
  main .grids1 .gridHielo h3 {
    font-size: 18px;
  }
  main .form {
    font-size: 15px;
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  header .subs {
    display: none;
  }
  .logoRogan img {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    width: 25%;
  }
  .navbar {
    display: none;
  }
  .navbar2 {
    display: inline;
  }
  button, .buttonSub {
    width: 4rem;
    font-size: 8px;
    height: 2rem;
    padding: 4px;
  }
  main section h1 {
    font-size: 90%;
  }
  main .sectionSecundaria {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
  }
  main .sectionSecundaria img {
    display: none;
  }
  main .sectionSecundaria p {
    text-align: center;
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 12px;
  }
  main .sectionTercera .tituloF {
    font-size: 15px;
  }
  main .sectionTercera .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15rem;
    width: 100%;
  }
  main .sectionTercera .cards img {
    width: 45%;
    margin-left: 5rem;
  }
  main .sectionTercera .cards h3 {
    text-align: center;
    margin-top: 0rem;
    font-size: 15px;
    margin-bottom: 3rem;
  }
  main .sectionTercera .cards .cardsFav {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
  }
  main .titleFav h2 {
    font-size: 15px;
  }
  main .sectionFavs .cards1 {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
  }
  main .sectionFavs .cards1 img {
    width: 80%;
    margin-left: 1rem;
  }
  main .sectionFavs .cards1 h3 {
    font-size: 12px;
  }
  main .sectionAbout p {
    font-size: 10px;
    padding: none;
  }
  .mainr h2 {
    font-size: 15px;
  }
  .mainr .grids1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
  }
  .mainr .grids1 article {
    margin-left: 4.5rem;
  }
  .mainr .grids1 article img {
    border-radius: 60% px;
    max-width: 50%;
  }
  .mainr .grids1 .gridCarne {
    margin-bottom: 5rem;
  }
  .mainr .grids1 .gridHongo img {
    margin-left: 3.5rem;
  }
  main .titleYoutube h1 {
    font-size: 15px;
  }
  main .titleBestmoments h2 {
    font-size: 15px;
  }
  main .form {
    font-size: 12px;
    margin-bottom: 0px;
  }
  main .gif iframe {
    max-width: 60%;
  }
  footer img {
    width: 50%;
    margin: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
