@media(max-width:425px) {
    header {
        .subs {
            display: none;
        }
    }


    .logoRogan {
        img {
            display: block;
            margin: 0 auto;
            margin-top: 4rem;
            width: 35%;

        }
    }

    .navbar {
        display: none;
    }

    .navbar2 {
        display: inline;
    }

    button {
        width: 4rem;
        font-size: 8px;
        height: 2rem;
        padding: 4px;

    }


    main {

        section {
            h1 {
                font-size: 90%;
            }
        }

        .sectionSecundaria {
            display: flex;
            flex-direction: column;
            margin-top: 0%;

            img {
                display: none;
            }

            p {
                text-align: center;
                margin-right: 5rem;
                margin-left: 5rem;
                font-size: 12px;
            }
        }


        .sectionTercera {
            .tituloF {
                font-size: 15px;
            }

            .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px;
                margin-bottom: 5rem;
                width: 100%;


                img {
                    width: 45%;
                    margin-left: 5rem;

                }

                h3 {
                    text-align: center;
                    margin-top: 0rem;
                    font-size: 15px;
                    margin-bottom: 3rem;
                }

                .cardsFav {
                    background: none;
                    box-shadow: none;
                    backdrop-filter: none;
                    -webkit-backdrop-filter: none;
                    border-radius: none;
                    border: none;

                }

            }

        }

        .titleFav {
            h2 {
                font-size: 15px;
            }
        }


        .sectionFavs {

            .cards1 {
                background: none;
                box-shadow: none;
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
                border-radius: none;
                border: none;

                img {
                    width: 80%;
                    margin-left: 1rem;
                }

                h3 {
                    font-size: 12px;
                }
            }





        }

        .info {
            p {
                font-size: 13px;
            }
        }

        .tyson {
            display: none;
        }

        .elon {
            display: none;
        }

        .sectionAbout {
            img{
                
                margin: 0rem;
            }
            p {
                font-size: 10px;
                padding: 0rem;
                margin: 0rem;


            }

            .p2 {
                margin: 0rem;
                margin-bottom: 8rem;

            }
        }
    }

    .mainr {
        h2 {
            font-size: 12px;
            text-align: center;
            
        }

        .grids1 {
            width: 100%;
            gap: 0rem;
            gap: 1rem;
            margin-left: 0.7rem;

h3{
    display: none;
}
        }
        section{
            p{
                font-size: 13px;
            }
        }


            

            img{
                max-width: min-content;
            }




        }
    }

    main {
        .titleYoutube {
            h1 {
                font-size: 15px;
            }

        }

        .titleBestmoments {
            h2 {
                font-size: 15px;
            }
        }

        .form {
            font-size: 12px;
            margin-bottom: 0px;
        }

    }


    footer {
        img {
            width: 50%;
            margin: 2px;
        }
    }
