@media(max-width:425px) {
    header {
        .subs {
            display: none;
        }
    }


    .logoRogan {
        img {
            display: block;
            margin: 0 auto;
            margin-top: 4rem;
            width: 25%;

        }
    }

    .navbar {
        display: none;
    }

    .navbar2 {
        display: inline;
    }

    button {
        width: 4rem;
        font-size: 8px;
        height: 2rem;
        padding: 4px;

    }


    main {
        section {
            h1 {
                font-size: 90%;
            }
        }

        .sectionSecundaria {
            display: flex;
            flex-direction: column;
            margin-top: 0%;

            img {
                display: none;
            }

            p {
                text-align: center;
                margin-right: 5rem;
                margin-left: 5rem;
                font-size: 12px;
            }
        }


        .sectionTercera {
            .tituloF {
                font-size: 15px;
            }

            .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px;
                margin-bottom: 15rem;
                width: 100%;


                img {
                    width: 45%;
                    margin-left: 5rem;

                }

                h3 {
                    text-align: center;
                    margin-top: 0rem;
                    font-size: 15px;
                    margin-bottom: 3rem;
                }

                .cardsFav {
                    background: none;
                    box-shadow: none;
                    backdrop-filter: none;
                    -webkit-backdrop-filter: none;
                    border-radius: none;
                    border: none;

                }

            }

        }

        .titleFav {
            h2 {
                font-size: 15px;
            }
        }

        .sectionFavs {
            
            .cards1 {
                background: none;
                box-shadow: none;
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
                border-radius: none;
                border: none;

                img {
                    width: 80%;
                    margin-left: 1rem;
                }

                h3 {
                    font-size: 12px;
                }
            }
            
            

        }

        .sectionAbout {
            p {
                font-size: 10px;
                padding: none;


            }
        }
    }

    .mainr {
        h2 {
            font-size: 15px;
        }

        .grids1 {
            display: flex;
            flex-direction: row;
            width: 80%;
            align-items: center;


            article {
                margin-left: 4.5rem;

                img {
                    border-radius: 100px;
                }
            }

            .gridCarne {
                margin-bottom: 5rem;
            }
        }
    }
    
    main{
        .titleYoutube{
            h1{
                font-size: 15px;
            }
        }
    }

    footer {
        img {
            width: 50%;
            margin: 2px;
        }
    }
}