@media(max-width:768px) {
    main {
        .sectionSecundaria {
            display: grid;
            width: 100%;
            grid-template-columns: 20% 30% 30% 20%;
            grid-template-rows: 50% 50%;
            margin-top: 5rem;

            .imgA {
                margin-top: 3rem;
                grid-column: 2/4;
                grid-row: 1/2;
                justify-self: center;
                width: 100%;
                margin-left: none;
            }


            .textA {
                h2 {
                    display: none;
                }

                grid-column: 2/4;
                grid-row: 2/3;
                color:$mycolor2;
                font-family:$myfont;
                font-size: 18px;
                margin-top: none;
            }
        }
        .sectionTercera{
            .cards{
                .cardsFav{
                background: none;
                box-shadow: none;
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
                border-radius: none;
                border: none;}
            }
        }
    }
       
    

    .navbar li a {
        font-size: 16px;
        gap: 1rem;


    }

    .logoRogan img {
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
        width: 25%;
    }



button {
    width: 7rem;
    font-size: 10px;
    height: 2rem;
    padding: 7px;

} }

//**ABOUT**//

@media(max-width:768px) {
    main {
        .sectionAbout {
            flex-direction: column;

            img {
                width: 40%;
                margin-left: 0rem;
                margin-right: 0rem;
            }

            .p1 .p2 {
                text-align: center;
                font-size: 18px;
                margin-bottom: 4rem;

            }

            .p1 {

                margin-top: 20%;
                margin-bottom: 10%;
            }
        }

    }}



//**RESEARCH**//
@media(max-width:768px) {
    main {
        .grids1 {
            .gridHongo h3 {
                font-size: 18px;
            }

            .gridSauna h3 {
                font-size: 18px;
            }

            .gridVit h3 {
                font-size: 18px;

            }

            .gridCarne h3 {
                font-size: 18px;
            }

            .gridHielo h3 {
                font-size: 18px;
            }

        }
    }



//**SUBSCRIBE**//
main {
    .form {
        font-size: 15px;
        font-size: 18px;



    }


}}