.mainR {
    h2 {
        margin-bottom: 3rem;
        color: $mycolor;
        text-align: center;
        font-family: $myfont;
        font-weight: 900;
        font-style: italic;
    }

    .grids1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        column-gap: 2rem;
        row-gap: 5rem;
        width: 100%;
        height: 90%;
        flex-wrap: wrap;
        margin-bottom: 10rem;

        h3 {
            @include titulosF
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 60%;

        }

        .gridVit {
            grid-column: 3/4;
            grid-row: 1/2;
            text-align: center;


        }

        .gridsHongo {
            grid-column: 1/2;
            grid-row: 1/2;
            text-align: center;

        }

        .gridCarne {
            grid-column: 3/4;
            grid-row: 2/3;
            text-align: center;
        }

        .gridHielo {
            grid-column: 1/2;
            grid-row: 2/3;
            text-align: center;
        }

        .GridSauna {
            grid-column: 2/3;
            grid-row: 1/3;
            text-align: center;

        }




    }

    section {
        p {
            font-size: 15px;
            font-family: $myfont;
            color: $mycolor;

            margin-top: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 10rem;
        }
    }


}