main {
    .aboutSection {
        h1 {
            color: $mycolor2;
            text-align: center;
            font-family: $myfont;
            font-weight: 900;
            font-style: italic;
        }
    }

    .sectionAbout {
        @include flex;
        align-items: center;

        img {
            display: flex;
            margin-top: 5rem;
            margin-left: 15rem;
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 2rem;

        }

        .p1 {
            color: $mycolor2;
            font-family: $myfont;
            font-size: 23px;
            text-align: center;
            padding-left: 7rem;
            padding-right: 7rem;

        }

        .p2 {
            align-items: first baseline;
            @extend .p1;
            margin-top: none;
            margin-bottom: 20rem;


        }


    }
}

footer {
    .redesPages {
        img {
            &:hover {
                transform: scale(0.9);
            }
        }


    }
}