main{
    .videos {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 80%;
        
    }
    .videos {
        div{

        margin-left: 25%;
        margin-bottom: 5rem;
        
    }
}
}