main{
    .titleFav{
        color: $mycolor;
        text-align: center;
        font-family: $myfont;
        font-weight: 900;
        font-style: italic;

    }
    .sectionFavs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 140px;
        padding-top: 5%;
        margin-bottom: 2rem;
        gap: 64px;
        h3{
        @include titulosF; 
    }
    


    }
    .cards1{
        background: rgba(177, 169, 157, 0.1);
        box-shadow: 0 8px 32px 0 rgba(211, 119, 13, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        &:hover {
            transform: scale(1.2);
            transition: 100ms;
    }
        }
        .elon{
        
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            p{
                color: $mycolor;
                text-align: center;
                width: 30%;
                margin-top: 15rem;
                margin-left: 8rem;
                font-size: 15px;
                
                }
                img{
                    width: 50%; 
                }
                
            }
            .tyson{
                @extend .elon;
                flex-direction: row-reverse;
                p{
                    margin-right: 9rem;
                }
                margin-bottom: 10rem;
            }
        }
