.navbar {

    li:after,
    li:before {
        content: "";
        position: absolute;
        width: 0%;
        display: block;
        height: 1px;
        transition: all 0.3s ease;
        margin-top: 2px;
        transition: all 300ms ease-in;
    }

}

.navbar li:after {
    bottom: 25%;
    left: 0;
}

.navbar li:before {
    top: 25%;
    right: 0;
}

.navbar :hover::after {
    width: 100%;
    height: 1px;
    bottom: 25%;
    background-color: #d9d9d9;

}

.navbar :hover::before {
    width: 100%;
    height: 1px;
    top: 25%;
    background-color: #d9d9d9;
}

.cards {

    .cardsFav {
        &:hover {
            transform: scale(1.2);
            transition: 100ms;
        }
    }

}
.grids1 {
    img {
        &:hover{
            transition: 300ms;
            transform:scale(0.9)

        }
    }
}